form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form div {
  margin-top: 15px;
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

.login {
  color: #28a745;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; 
  color: #28a745; 
  font-size: 24px; 
  text-decoration: none;
}

.social-icons a:hover {
  color: #218838; 
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #000;
  cursor: pointer;  
}