form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form div {
  margin-top: 20px;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
mat-form-field {
  width: calc(100% - 20px);
  border-radius: 2px;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

.login {
  color: #28a745;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex; 
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 16px; 
  margin-top: 8px; 
}

.icon-button {
  background: none;
  cursor: pointer;
  color: inherit; 
  font: inherit; 
  display: flex;
  align-items: center;
  padding: 8px 12px; 
  transition: background-color 0.3s; 
}

.icon-button i {
  font-size: 24px; 
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #000;
  cursor: pointer;  
}