<app-navbar></app-navbar>
<div class="container">
    <app-menu-login></app-menu-login>
    <form (ngSubmit)="forgotPassword()">
        <h1 class="forgotPassword">Tìm tài khoản của bạn</h1>
        <h3>Vui lòng nhập email để tìm kiếm tài khoản của bạn</h3>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="email" placeholder="person@example.com"
                required>
        </mat-form-field>
        <div class="button-container">
            <button mat-stroked-button class="cancel-button" (click)="navigateToLogin()">Hủy</button>
            <button mat-stroked-button class="search-button" type="submit">Tìm kiếm</button>
        </div>
    </form>
</div>