<app-navbar></app-navbar>
<div class="container">
  <app-menu-login></app-menu-login>
  <form (ngSubmit)="signup()">
    <h1 class="signup">Đăng ký</h1>
    <mat-form-field appearance="outline">
      <mat-label>Họ tên</mat-label>
      <input matInput type="text" id="username" name="username" [(ngModel)]="username" placeholder="Nhập họ tên"
        required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="email" placeholder="person@example.com"
        required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại</mat-label>
      <input matInput type="text" id="phone" name="phone" [(ngModel)]="phone" placeholder="Nhập số điện thoại" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="password" placeholder="Nhập mật khẩu"
        required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input matInput type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
        placeholder="Nhập lại mật khẩu" required>
    </mat-form-field>

    <button type="submit">Đăng ký</button>
    <div class="links">
      <a type="button" (click)="navigateToLogin()">Bạn đã có tài khoản?</a>
    </div>
  </form>
</div>